<a href="https://colab.research.google.com/github/Gajendra-theDataEngineer004627/DataEngineeringProjects/blob/ChessChampionshipProject/DE_Solutions_GRA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get update -y

Get:1 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease [3,622 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Get:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease [18.1 kB]
Get:4 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Get:5 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ Packages [82.8 kB]
Hit:6 http://archive.ubuntu.com/ubuntu focal InRelease
Get:7 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Hit:8 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Hit:9 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Get:10 http://security.ubuntu.com/ubuntu focal-security/multiverse amd64 Packages [37.5 kB]
Get:11 http://security.ubuntu.com/ubuntu focal-security/restricted amd64 Packages [2,529 kB]
Get:12 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Get:14 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [2,866 kB]
Hit:15 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Get:16 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [1,070 kB]
Get:17 http://archive.ubuntu.com/ubuntu focal-updates/restricted amd64 Packages [2,670 kB]
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal/main Sources [2,604 kB]
Get:19 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1,369 kB]
Get:20 http://archive.ubuntu.com/ubuntu focal-updates/multiverse amd64 Packages [40.2 kB]
Get:21 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [3,346 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal/main amd64 Packages [1,230 kB]
Fetched 18.2 MB in 4s (4,579 kB/s)
Reading package lists... Done

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [3]:
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz

In [4]:
!tar xf spark-3.1.2-bin-hadoop2.7.tgz

In [5]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [6]:
!pip install -q findspark
import findspark
findspark.init()

In [7]:
from pyspark.sql import SparkSession
spark = (SparkSession
 .builder
 .appName("<app_name>")
 .getOrCreate())

In [ ]:
# function to doanload data files from the google drive
import gdown
def downloadfiles_fromFolder() :
    url = "https://drive.google.com/drive/folders/1QgWPHV_l25Ui9L7et8mkZohAOG59UTkQ"   # can also be used input()
    if url.split("/")[-1]== "?usp=sharing":
       url = url.replace("?usp=sharing","")
    gdown.download_folder(url, output="/content")

downloadfiles_fromFolder()

In [9]:
# Creating the datasets for each data files and understanding the data

chess_wc_history_game_info = spark.read.load("/content/chess_wc_history_game_info.csv",format="csv", sep=",", inferSchema="true", header="true")

chess_wc_history_moves = spark.read.load("/content/chess_wc_history_moves.csv",format="csv", sep=",", inferSchema="true", header="true")

eco_codes = spark.read.load("/content/eco_codes.csv",format="csv", sep=",", inferSchema="true", header="true")

In [ ]:
# checking the top 10 records are properly loaded or not
# print(chess_wc_history_moves.head())
# print(eco_codes.head())
# print(chess_wc_history_game_info.head())

In [18]:
# Creating temporary view for data manupulations
chess_wc_history_moves.createOrReplaceTempView("chess_wc_history_movesTemp")
eco_codes.createOrReplaceTempView("eco_codesTemp")
chess_wc_history_game_info.createOrReplaceTempView("chess_wc_history_game_infoTemp")

# ----Creating the table from the temp view so that the tables can be accessible globally(accessed across different Spark sessions) #

query_main_Event  = """Select * from chess_wc_history_game_infoTemp where
                        event not like '%KO%' and
                        event not like '%k.o.%' """


# -------------WCh knock out(string with k.o.,KO ) are not included in main event-----------#
spark.sql(query_main_Event).createOrReplaceTempView("chess_wc_history_game_infoTemp1")


chess_wc_history_movesTempTable = spark.table("chess_wc_history_movesTemp")
eco_codesTempTable = spark.table("eco_codesTemp")
chess_wc_history_game_infoTempTable = spark.table("chess_wc_history_game_infoTemp1")

# Checking the validity of data in table form  using mysql like capabilities in SparkSql
#result1 = spark.sql("SELECT * FROM chess_wc_history_movesTemp limit 5")
#result1.show()
#result2 = spark.sql("SELECT * FROM eco_codesTemp")
#result2.show()
# result2.printSchema()    # --> to check schema
  # result3 = spark.sql("SELECT * from chess_wc_history_game_infoTemp limit 5 ")
  # result3.show()
 #spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
  # eco_codes.columns    # this is used to check the data frames columns
  #chess_wc_history_game_info.columns


query1 = """ WITH CTE_WInner_List AS
                (select winner , event,round , tournament_name,date_played,
                count(*) over (partition by winner,tournament_name order by date_played) as WinnerCount
                from chess_wc_history_game_infoTemp1
                where winner not like '%draw%'and
                tournament_name like 'WorldChamp%' )
                SELECT winner, tournament_name, MAX(WinnerCount) AS Score
                FROM CTE_Winner_List
                GROUP BY winner ,tournament_name
                order BY tournament_name DESC
"""
spark.sql(query1).createOrReplaceTempView("temp_view1")

final_query1 = """ with CTE_Final AS (
                select winner, tournament_name, Score ,
                ROW_NUMBER() OVER (partition by tournament_name order by Score DESC) as Row_num
                from temp_view1 )
                select winner, tournament_name  --, Score
                from CTE_Final
                where Row_num = 1
                order by tournament_name DESC
"""

#  -----------Sollution of 1st Problem ----------------#
resultTest1 = spark.sql(final_query1)
resultTest1.show()
# TO DOWNLOAD FILES TO THE CONTENT FOLDER OF COLAB
#resultTest1.coalesce(1).write.mode("overwrite").csv("/content/resultTest_prb1", header=True)
# -----------------------2nd Problem mitigation ----------------#
spark.sql(final_query1).createOrReplaceTempView("Second_problem")

second_problem_query1  = """
        select winner as Player_name,
        count(*) as number_of_wins from Second_problem
        group by winner
        order by number_of_wins DESC
"""
#  -----------Sollution of 2nd Problem ----------------#
resultTest2 = spark.sql(second_problem_query1)
resultTest2.show()
# TO DOWNLOAD FILES TO THE CONTENT FOLDER OF COLAB
#resultTest2.coalesce(1).write.mode("overwrite").csv("/content/resultTest_prb2", header=True)
# -----------------------3rd Problem mitigation ----------------#

third_problem_query0 = """
                with cte_popular_move as (
                select A.eco, A.eco_name, B.game_id,
                count(*) over(partition by A.eco, B.game_id  order by A.eco) as no_of_occurances
                from eco_codesTemp A left join chess_wc_history_game_infoTemp1 B
                on A.eco = B.eco )
                select eco, eco_name ,
                count(*) over(partition by eco_name order by eco) as occurance
                from cte_popular_move
                group by eco,eco_name
                order by occurance DESC
"""

test_res6 = spark.sql(third_problem_query0).createOrReplaceTempView("third_query_test0")
#test_res6.show()

third_problem_query1 = """with cte_test_final as (
                        select eco, eco_name,
                        occurance as number_of_occurences,
                        ROW_NUMBER() over( order by occurance DESC) as MostRow,
                        ROW_NUMBER() over( order by occurance ASC) as leastRow
                        from third_query_test0 )
                        select
                        eco,
                        eco_name,
                        number_of_occurences   --,MostRow, leastRow
                        from cte_test_final
                        where  MostRow =1 or leastRow = 1
                        order by number_of_occurences DESC
                        """

#  -----------Sollution of 3rd Problem ----------------#
result_test3 = spark.sql(third_problem_query1)   #.createOrReplaceTempView("third_query_test")
result_test3.show()

# -----------------------4th Problem mitigation ----------------#

fourth_problem_query = """
                with cte_popular_move_win as (
                select A.eco, A.eco_name, B.game_id,B.winner_elo
                from eco_codesTemp A left join chess_wc_history_game_infoTemp1 B
                on A.eco = B.eco
                where B.winner_elo is not null
                )
                select eco, eco_name ,winner_elo,
                count(*) over (partition by eco order by eco) as occurance
                from cte_popular_move_win
                group by eco,eco_name,winner_elo
                order by occurance DESC
                --limit 1
"""
spark.sql(fourth_problem_query).createOrReplaceTempView("fourth_problem_query0")
#r = spark.sql("select * from fourth_problem_query0  order by occurance DEsc  limit 10")
#r.show()

fourth_problem_query1 = """
                with CTE_final AS (
                select eco, eco_name ,occurance,
                ROW_NUMBER() over(order by occurance DESC) as row_num
                from fourth_problem_query0 )
                select eco, eco_name  --, occurance, row_num
                from CTE_final
                where  row_num=1
                order by occurance DESC """

#  -----------Sollution of 4th Problem ----------------#
result_test4 = spark.sql(fourth_problem_query1 )
result_test4.show()

# -----------------------5th Problem mitigation ----------------#

#chess_wc_history_movesTempTable.show()
#eco_codesTempTable.show()
#chess_wc_history_game_infoTempTable.show()

chess_wc_history_game_infoTempTable.createOrReplaceTempView("chess_wc_history_game_infoTempTable1")
chess_wc_history_movesTempTable.createOrReplaceTempView("chess_wc_history_movesTempTable1")

#test  = spark.sql("select game_id, event ,")

# move_no , move_Sequence(even number shoub be there),game_id,event, tournament_name
#Longest and shortest game ever played in a world championship in terms of move
# Final result will have only two rows
fifth_problem_query0 = """
                        with cte_test_move as (
                        select
                        A.game_id,B.date_played,
                        A.move_no, A.move_no_pair ,
                        A.move_Sequence,
                        B.event, B.tournament_name,
                        B.winner,
                        B.loser,
                        B.winner_elo,
                        B.loser_elo,
                        ROW_NUMBER() over(partition by A.game_id, B.date_played order by A.move_Sequence DESC) as longest_move_rank
                        --ROW_NUMBER() over(partition by A.game_id, B.date_played order by A.move_Sequence ASC) as shortest_move_rank
                        from chess_wc_history_movesTempTable1 A left join chess_wc_history_game_infoTempTable1 B
                        on A.game_id =  B.game_id )
                        select game_id, date_played,
                        --move_no,
                        --longest_move_rank as move_rank,
                        move_no_pair,
                        move_Sequence, event,tournament_name,winner,loser,
                        ROW_NUMBER() over(order by move_no_pair DESC) as high_rank,
                        --ROW_NUMBER() over(order by move_no_pair ASC) as low_rank,
                        winner_elo,loser_elo
                        from cte_test_move
                        where longest_move_rank = 1 and move_no_pair%2 = 0               --in (1,2,3,4)
                         and event is not null
                        --group by game_id, date_played, move_no_pair ,move_no
                        order by move_no_pair DESC

"""
spark.sql(fifth_problem_query0).createOrReplaceTempView("fifth_problem_query1")

fifth_problem_query2 = """
                      WITH CTE_Final AS (
                      SELECT
                      game_id,
                      event,
                      tournament_name,
                      move_no_pair AS number_of_moves,
                      ROW_NUMBER() OVER ( ORDER BY move_no_pair DESC) AS longest_game_played,
                      ROW_NUMBER() OVER ( ORDER BY move_no_pair ASC) AS shortest_game_played,
                      move_sequence
                      FROM fifth_problem_query1
                      )
                    SELECT
                    game_id,
                    event,
                    tournament_name,
                    number_of_moves
                    FROM CTE_Final
                    WHERE longest_game_played = 1 OR shortest_game_played = 1
                    ORDER BY number_of_moves DESC """


#  -----------Sollution of 5th Problem ----------------#
result_test5 = spark.sql(fifth_problem_query2)
result_test5.show()

# -----------------------6th Problem mitigation ----------------#

#chess_wc_history_movesTempTable.show()
#eco_codesTempTable.show()
#chess_wc_history_game_infoTempTable.show()

sixth_problem_query0 = """
                        with cte_final_sixth as (
                        select
                        game_id,
                        event,
                        tournament_name,
                        move_no_pair as number_of_moves,
                        ROW_NUMBER()over(order by move_no_pair DESC)as high_rank_draw,
                        ROW_NUMBER()over(order by move_no_pair ASC)as low_rank_draw
                        from fifth_problem_query1
                        where winner like '%draw%' )
                        select
                        game_id,
                        event,
                        tournament_name,
                        number_of_moves
                        from cte_final_sixth
                        where high_rank_draw = 1 or low_rank_draw = 1
                        order by number_of_moves DESC"""


#  -----------Sollution of 6th Problem ----------------#
result_test6 = spark.sql(sixth_problem_query0)
result_test6.show()

# -----------------------7th Problem mitigation ----------------#

#chess_wc_history_movesTempTable.show()
#eco_codesTempTable.show()
#chess_wc_history_game_infoTempTable.show()

seventh_problem_query0 = """
                        with cte_Final_playerRanks as (
                        select
                        winner as player_name ,
                        winner_elo as elo,
                        ROW_NUMBER() over ( order by winner_elo DESC) as ranking_high,
                        ROW_NUMBER() over ( order by winner_elo ASC) as ranking_low
                        from chess_wc_history_game_infoTempTable1
                        where winner_elo is not null and loser_elo is not null )
                        select player_name, elo
                        from cte_Final_playerRanks
                        where ranking_high =1  or ranking_low = 1
                        order by elo DESC
"""


#  -----------Sollution of 7th Problem ----------------#
result_test7 = spark.sql(seventh_problem_query0)
result_test7.show()


# -----------------------8th Problem mitigation ----------------#

#chess_wc_history_movesTempTable.show()
#eco_codesTempTable.show()
#chess_wc_history_game_infoTempTable.show()

eighth_problem_query0 = """
                with cte_final_mostlossPlayer as (
                select
                game_id,
                loser as player_name,
                event,
                count(*) over(partition by loser order by event) as loss_countofPlayer
                from  chess_wc_history_game_infoTempTable1 )
                select distinct
                player_name ,
                loss_countofPlayer
                --ROW_NUMBER() over( partition by player_name, loss_countofPlayer  order by loss_countofPlayer DESC) as loss_ranking
                from cte_final_mostlossPlayer
                where player_name not like '%draw%'
                order by loss_countofPlayer DESC
 """
spark.sql(eighth_problem_query0).createOrReplaceTempView("eighth_problem_test1")


# this below query will give unique records of the highest loss the person has taken in overall
# used the offset to skip 1st 2 rows of sorted table and getting the 3rd Last Player with most Loss
eighth_problem_query1 = """
                        with cte_intermediate_lossdetails as (
                        select
                        player_name,
                        loss_countofPlayer,
                        ROW_NUMBER() over(partition by player_name order by loss_countofPlayer DESC) as row_num1
                        from eighth_problem_test1 )
                        select
                        player_name,
                        loss_countofPlayer
                        from cte_intermediate_lossdetails
                        where row_num1 = 1
                        group by player_name,loss_countofPlayer
                        order by loss_countofPlayer DESC
                        --limit 1 offset 2
"""
spark.sql(eighth_problem_query1).createOrReplaceTempView("eighth_problem_test2")

eighth_problem_query2 ="""
                        with cte_Final as (
                        select
                        player_name  ,
                        loss_countofPlayer ,
                        RANK() over( order by loss_countofPlayer DESC) as rank
                        from eighth_problem_test2 )
                        select player_name
                        from cte_Final
                        where rank = 3"""

#  -----------Sollution of 8th Problem ----------------#
result_test8 = spark.sql(eighth_problem_query2)
result_test8.show()

# -----------------------9th Problem mitigation ----------------#
# How many times players with low rating won matches with their total win Count.
# Result attributes: player_name, win_count

#chess_wc_history_movesTempTable.show()
#eco_codesTempTable.show()
#chess_wc_history_game_infoTempTable.show()
#Required fields - game_id , event, tournament_name,winner,winner_elo,loser,loser_elo, date_played

ninth_problem_query = """
                        with cte_lowRankWinner as (
                        select
                        --A.game_id,
                        --A.date_played,
                        --A.event,
                        --A.tournament_name,
                        A.winner,A.winner_elo,
                        count(*) over(partition by A.winner order by A.winner) as countOfLowRankWinners,
                        Row_Number() over(partition by A.winner order by A.winner) as row_num,
                        B.loser,B.loser_elo
                        from chess_wc_history_game_infoTempTable1 A left join chess_wc_history_game_infoTempTable1 B
                        on A.game_id = B.game_id
                        where A.winner not like '%draw%'and A.winner_elo is not null
                        and B.loser_elo > A.winner_elo
                        group by A.winner,A.winner_elo,B.loser,B.loser_elo )
                        select
                        winner as player_name,
                        countOfLowRankWinners as win_count
                        from cte_lowRankWinner
                        where row_num = 1
                        order by countOfLowRankWinners DESC
"""


#  -----------Sollution of 9th Problem ----------------#
resultTest9 = spark.sql(ninth_problem_query)
resultTest9.show()
#---------- TO DOWNLOAD FILES TO THE CONTENT FOLDER OF COLAB ------------#
#resultTest9.coalesce(1).write.mode("overwrite").csv("/content/resultTest_prb9", header=True)





# -----------------------10th Problem mitigation ----------------#
# Move Sequence for Each Player in a Match.
# Result attributes: game_id, player_name, move_sequence, move_count

#chess_wc_history_movesTempTable.show()
#eco_codesTempTable.show()
#chess_wc_history_game_infoTempTable.show()

# REquired fields : game_id, move_no, move_no_pair, player , move , move_sequence

tenth_problem_query = """
                        with cte_movSequence as (
                        select
                        game_id, move_no,
                        move_no_pair, player , notation,
                        move , move_sequence,
                        ROW_NUMBER()over(partition by game_id,player order by move_no_pair DESC) as movRowSeq
                        from chess_wc_history_movesTemp )
                        select
                        game_id,
                        player as player_name ,
                        move_sequence,
                        move_no as move_count
                        --(LENGTH(move_sequence) - LENGTH(REPLACE(move_sequence, '|', '')) + 1) AS move_count,
                        --movRowSeq
                        from cte_movSequence
                        where movRowSeq = 1
                        order by  move_no DESC """


#  -----------Sollution of 10th Problem ----------------#
result_test10 = spark.sql(tenth_problem_query)
result_test10.show()


# -----------------------11th Problem mitigation ----------------#

#Total Number of games where losing player has more Captured score than Winning player.
#Hint: Captured score is cumulative, i.e., for 3rd capture it will have score for 1, 2, and 3rd.
#Result attributes: total_number_of_games Final result will have only one row

#chess_wc_history_movesTempTable.show()
#eco_codesTempTable.show()


# REquired fields :
# from chess_wc_history_movesTemp - captured_score_for_white,captured_score_for_black , game_id,
# from chess_wc_history_game_infoTempTable1 : winner, winner_elo, loser,loser_elo ,game_id

eleventh_problem_query0 = """
                        select
                        distinct
                        game_id,
                        sum(captured_score_for_white) over(partition by game_id order by game_id) as CumilativeOfWhite,
                        sum(captured_score_for_black) over(partition by game_id order by game_id) as CumilativeOfBlack
                        from chess_wc_history_movesTemp
                        where captured_score_for_white != 0 and captured_score_for_black !=0

"""
spark.sql(eleventh_problem_query0).createOrReplaceTempView("eleventh_query1")

eleventh_problem_query1 = """
                        select
                        A.game_id,
                        A.CumilativeOfWhite,
                        A.CumilativeOfBlack,
                        B.white, B.black,
                        B.winner,B.loser
                        from  eleventh_query1 A left join  chess_wc_history_game_infoTempTable1 B
                        on A.game_id = B.game_id
                        where B.winner not like '%draw%' and B.winner_elo is not null

"""
spark.sql(eleventh_problem_query1).createOrReplaceTempView("eleventh_query2")
eleventh_problem_query2 = """
                        with cte_finalGameScore as (
                        select
                        game_id ,
                        case
                        when winner == black then CumilativeOfBlack
                                else CumilativeOfWhite
                        end as winnerScore,
                        case
                        when loser == black then CumilativeOfBlack
                                else CumilativeOfWhite
                        end as loserScore,
                        CumilativeOfBlack,
                        CumilativeOfWhite,
                        white,black,
                        winner, loser
                        from eleventh_query2 )
                        select
                        count(*) as total_number_of_games
                        from cte_finalGameScore
                        where loserScore > winnerScore

"""
#  -----------Sollution of 11th Problem ----------------#
result_test11 = spark.sql(eleventh_problem_query2)
result_test11.show()

+--------------------+---------------+
|              winner|tournament_name|
+--------------------+---------------+
|           Carlsen,M| WorldChamp2021|
|     Carlsen, Magnus| WorldChamp2016|
|     Carlsen, Magnus| WorldChamp2014|
|     Carlsen, Magnus| WorldChamp2013|
|           Gelfand,B| WorldChamp2012|
|             Anand,V| WorldChamp2010|
|             Anand,V| WorldChamp2008|
|             Anand,V| WorldChamp2007|
|           Kramnik,V| WorldChamp2006|
|              Leko,P| WorldChamp2004|
|           Kramnik,V| WorldChamp2000|
|      Kasparov, Gary| WorldChamp1990|
|      Kasparov, Gary| WorldChamp1987|
|      Kasparov, Gary| WorldChamp1986|
|      Kasparov, Gary| WorldChamp1985|
|     Karpov, Anatoly| WorldChamp1984|
|     Karpov, Anatoly| WorldChamp1981|
|     Karpov, Anatoly| WorldChamp1978|
|Fischer, Robert J...| WorldChamp1972|
|    Spassky, Boris V| WorldChamp1969|
+--------------------+---------------+
only showing top 20 rows

+--------------------+--------------+
|         Player_name|number_of_wins|
+--------------------+--------------+
|     Lasker, Emanuel|             6|
|  Botvinnik, Mikhail|             5|
|      Kasparov, Gary|             4|
| Alekhine, Alexander|             4|
|   Steinitz, William|             4|
|             Anand,V|             3|
|     Carlsen, Magnus|             3|
|     Karpov, Anatoly|             3|
|           Kramnik,V|             2|
| Petrosian, Tigran V|             2|
|           Carlsen,M|             1|
|Fischer, Robert J...|             1|
|              Leko,P|             1|
|    Schlechter, Carl|             1|
|    Spassky, Boris V|             1|
|Capablanca, Jose ...|             1|
|         Tal, Mihail|             1|
|           Gelfand,B|             1|
|    Smyslov, Vassily|             1|
|           Euwe, Max|             1|
+--------------------+--------------+

+---+-----------------+--------------------+
|eco|         eco_name|number_of_occurences|
+---+-----------------+--------------------+
|B89|         Sicilian|                  15|
|D97|Grunfeld, Russian|                   1|
+---+-----------------+--------------------+

+---+--------------+
|eco|      eco_name|
+---+--------------+
|C42|Petrov Defense|
+---+--------------+

+--------------------+--------------------+---------------+---------------+
|             game_id|               event|tournament_name|number_of_moves|
+--------------------+--------------------+---------------+---------------+
|58e83255-93bb-4d5...|            WCh 2021| WorldChamp2021|            136|
|7e3065e9-94cc-4ee...|World Championshi...| WorldChamp1963|             10|
+--------------------+--------------------+---------------+---------------+

+--------------------+--------------------+---------------+---------------+
|             game_id|               event|tournament_name|number_of_moves|
+--------------------+--------------------+---------------+---------------+
|bf66c982-f6c5-4e7...|World Championshi...| WorldChamp1978|            124|
|7e3065e9-94cc-4ee...|World Championshi...| WorldChamp1963|             10|
+--------------------+--------------------+---------------+---------------+

+---------------+----+
|    player_name| elo|
+---------------+----+
|Carlsen, Magnus|2870|
|  Timman, Jan H|2620|
+---------------+----+

+---------------+
|    player_name|
+---------------+
|Karpov, Anatoly|
+---------------+

+------------------+---------+
|       player_name|win_count|
+------------------+---------+
|   Karpov, Anatoly|        4|
|      Morozevich,A|        3|
|         Gelfand,B|        3|
|         Kramnik,V|        3|
|            Leko,P|        2|
|Kortschnoj, Viktor|        2|
|Anand, Viswanathan|        2|
|    Kasimdzhanov,R|        2|
|        Grischuk,A|        2|
|    Short, Nigel D|        1|
|  Spassky, Boris V|        1|
|    Kasparov, Gary|        1|
|  Karjakin, Sergey|        1|
|     Timman, Jan H|        1|
|         Svidler,P|        1|
|         Aronian,L|        1|
|           Anand,V|        1|
|      Kamsky, Gata|        1|
+------------------+---------+

+--------------------+------------------+--------------------+----------+
|             game_id|       player_name|       move_sequence|move_count|
+--------------------+------------------+--------------------+----------+
|4424a0a4-3732-407...|         Chernin,A|d4|d5|c4|c6|Nc3|N...|       291|
|4424a0a4-3732-407...|       Utnasunov,A|d4|d5|c4|c6|Nc3|N...|       290|
|58e83255-93bb-4d5...|         Carlsen,M|d4|Nf6|Nf3|d5|g3|...|       271|
|58e83255-93bb-4d5...|  Nepomniachtchi,I|d4|Nf6|Nf3|d5|g3|...|       270|
|88f34084-e4df-490...|         Svidler,P|Nf3|Nf6|c4|e6|d4|...|       258|
|88f34084-e4df-490...|         Gelfand,B|Nf3|Nf6|c4|e6|d4|...|       257|
|bf66c982-f6c5-4e7...|Kortschnoj, Viktor|c4|Nf6|d4|e6|Nc3|...|       247|
|bf66c982-f6c5-4e7...|   Karpov, Anatoly|c4|Nf6|d4|e6|Nc3|...|       246|
|c2ad1d49-8a47-428...|       Krasenkow,M|e4|c5|Nf3|Nc6|d4|...|       244|
|ed4f54c2-4e7f-443...|   Carlsen, Magnus|e4|e5|Nf3|Nc6|Bb5...|       243|
|c2ad1d49-8a47-428...|           Short,N|e4|c5|Nf3|Nc6|d4|...|       243|
|ed4f54c2-4e7f-443...|Anand, Viswanathan|e4|e5|Nf3|Nc6|Bb5...|       242|
|c027c41f-a2e6-4a5...|Botvinnik, Mikhail|e4|c6|d4|d5|e5|Bf...|       242|
|c027c41f-a2e6-4a5...|       Tal, Mihail|e4|c6|d4|d5|e5|Bf...|       241|
|1f094f29-ffeb-434...|   Lasker, Emanuel|e4|e5|Nf3|Nc6|Bb5...|       238|
|1f094f29-ffeb-434...|Tarrasch, Siegbert|e4|e5|Nf3|Nc6|Bb5...|       237|
|180c123b-a5e0-41f...|  Miles, Anthony J|d4|e6|Nf3|c5|c4|c...|       236|
|180c123b-a5e0-41f...| Krasenkow, Michal|d4|e6|Nf3|c5|c4|c...|       235|
|99d39a93-427e-4d1...|  Caruana, Fabiano|e4|c5|Nf3|Nc6|Bb5...|       229|
|99d39a93-427e-4d1...|   Carlsen, Magnus|e4|c5|Nf3|Nc6|Bb5...|       228|
+--------------------+------------------+--------------------+----------+
only showing top 20 rows

+---------------------+
|total_number_of_games|
+---------------------+
|                   50|
+---------------------+